            ul,ol,h1,h2,h3,h4,h5,h6,p {margin-top:0px ;margin-bottom: 0px;padding-left: 0;list-style-type: none;}
            .container {width:375px; background-color: #f34466;margin: 0 auto;}
            body {background-color:#b0c4de;}
            .content {background-color: #f4f4f4;height: 554px;overflow: auto;width: 375px;}

            .navbar {position: relative;height: 44px; background-color: #11235f;background-image: url(../images/class1.png);line-height: 44px;}
            .dingwei {font-family: Verdana,"微软雅黑";font-size: 14px;float: left;font-size: 18px;margin-left:25px ;color: #f4f4f4;}
            .logo {position: absolute;width: 65px;height: 10px;top:6px;left:155px;color: #f4f4f4;}
            .search {float: right;margin-right: 25px;color: #f4f4f4;}


            .banner {height: 204px; background-color: #f39988;}
            img {width: 100%;}


            .newtask {height: 130px;font-family: Verdana,"微软雅黑";font-size: 14px;margin-top:0px ;margin-bottom: 0px;}
            h3 {font-family: 微软雅黑;font-size: 19px;color: #ea0c0c;text-align: center;font-weight:normal;}
            .newtask div.messages {float: left;width: 170px;height: 100px;margin-left: 3px;margin-right: 3px;background-color:#ffffff;}

            
            .messages li {float :left;margin-top:0px ;margin-bottom: 0px;}

            
            .newtask div:last-child {margin-left: 0px;margin-top:0px ;margin-bottom: 0px;margin-bottom: 27px;}
            
            .face {float :left;width: 23px;height: 23px;margin-left: 8px;margin-right: 6px;margin-bottom: 0px;}
            .newtask p {font-family: 微软雅黑;font-size: 12px;color: #000000;font-weight:normal;height: 46px;margin-bottom: 0px;}
            .newtask b {float: left;font-family: 微软雅黑;font-size: 12px;color: #000000;font-weight:normal;height: 23px;margin-bottom: 0px;} 
            .sex {float :left;width: 21px;height: 21px;margin-right: 20px;}
            .coin {float :left;width: 21px;height: 21px;}
            .coin1 {float :left;width: 10px;height: 10px;}
            .time {float: left;font-family: 微软雅黑;font-size: 10px;color: #000000;font-weight:normal;height: 10px;}
            .posi {float :left;width: 10px;height: 10px;margin-left: 50px;}
             


            .today {height: 240px;width: 375px;}
            .today ul.pic {height: 105px;}
            .today ul.pic {float:left;height: 105px;margin-right: 3px;}
            .today ul.pic li:first-child{float:left;width: 108px;}
            .today ul.pic li:nth-child(2){float:left;width: 165px;}
            .today ul.pic li:nth-child(3){float:left;width: 94px;}
            .today ul.pic li:last-child{margin-right: 0;}
            .today h4 {font-family: verdana,"微软雅黑";font-size: 12px;color: #000000;text-align: left;margin-left: 3px;}
            .today span {font-family: verdana,"微软雅黑";font-size: 10px;color: #000000;text-align: left;margin-left: 3px;}
         

            .today-bottom {margin-left: 15px;}
            .today-bottom li{float:left;margin-right: 20px;background-repeat: no-repeat;}
            .today-bottom li:first-child{background-image: url(../images/ac_01.gif);padding-left: 45px;background-size:34px 18px;}
            .today-bottom li:nth-child(2){background-image: url(../images/ac_03.jpg);padding-left: 25px;background-size:22px 18px;}
            .today-bottom li:nth-child(3){background-image: url(../images/ac_05.jpg);padding-left: 25px;background-size:20px 20px;}
            .today-bottom li:last-child{margin-right: 0;}

            .tabbar {float: left;height: 49px;width: 375px; background-color: #000000;}
            .tabbar li {float: left;margin-right: 49px;text-align: center;}
            .tabbar li:first-child{margin-left: 3px;}
            .tabbar li:last-child {margin-right: 5px;}

            .tabbar_2 {margin-left:15px ; display: block;height: 49px;margin-bottom: 0;}
            .tabbar_2 li {height: 28px;width: 28px;}
            .tabbar_2 a {text-decoration: none;}
            .tabbar_2 span {font-family: verdana,"微软雅黑";text-align: center;font-size: 10px;color: #ffffff;}
