


    *{padding: 0;margin: 0}
        li{list-style-type: none;}
        .container {width: 375px ;margin-left: auto;margin-right: auto;}
        .content{background-color: #fff;}
        .navbar {position:relative;height: 44px ; background-color: red;background-image: url(../images/x_01.jpg); line-height: 44px;color: #fff;}
        .time li:nth-child(3){margin-right: 3px;}
        .time li{font-family: verdana,"微软雅黑";font-size:11px;color:#b3b3b3; }
        .tabbar {height: 49px ; background-color: #000;}
        .tabbar li {float: left;width: 49px;height: 49px;margin-right: 30px;text-align: center;margin-top: 4px;}
        .tabbar li:first-child{margin-left: 5px;}
        .tabbar li:last-child{margin-right: 5px;}
        .tabbar img{width: 26px;height: 26px;}
        .tabbar span{display: block;font-family: verdana,"微软雅黑";font-size: 12px;color: gray;}
        .tabbar li:span.active{color: red;}
     	.tabbar li:nth-child(2) span.active{color: red;}
        .tabbar a {text-decoration: none;}
        .date {margin-left: 15px;}
        .date li {float: left;margin-right: 20px;font-family: verdana,"微软雅黑";font-size: 12px;}
        .date li:first-child {padding-left:32px;background-image:url(../images/xx_05.jpg);background-repeat: no-repeat;-webkit-backgrand-size:contain;
            background-size: contain;}
        .date li:nth-child(2) {padding-left:20px;background-image:url(../images/xx_06.jpg);background-repeat: no-repeat;-webkit-backgrand-size:contain;
            background-size: contain;}
        .date li:nth-child(3) {padding-left:20px;background-image:url(../images/xx_07.jpg);background-repeat: no-repeat;-webkit-backgrand-size:contain;
            background-size: contain;}